.btn.btn {
  border-radius: 4px;
  height: 40px;

  &-primary {
    background: linear-gradient(180deg, $saffron 0%, $buttercup 100%);
    color: $ebony-cla !important;
    &:hover, &:active {
      background: linear-gradient(180deg,$mustard 0%,$golden-dream 100%)
    }
  }

  &-primary-outline {
    color: $buttercup;
    border: solid 1px $buttercup;
  }
}

.btn-small {
  min-width: 85px;
  height: 32px !important;
}

.btn-large {
  min-width: 135px;
  height: 48px !important;
}
